extends ../layouts/base-whitefooter.jade

block head
  title Community | DC/OS
  meta(property='og:locale', content='en_US')
  meta(property='og:type', content='article')
  meta(property='og:title', content='Community | DC/OS')
  meta(property='og:image', content='https://dcos.io/assets/images/social-img.png')
  meta(property='og:description', content='Join the DC/OS community and connect with users, contributors, partners, and supporters on GitHub, Twitter, #slack or our mailing list.')
  meta(property='og:url', content='https://dcos.io/')
  meta(property='og:site_name', content='DC/OS')
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@dcos')
  meta(name='twitter:title', content='Community | DC/OS')
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:image', content='https://dcos.io/assets/images/social-img.png')
  meta(name='twitter:description', content='Join the DC/OS community and connect with users, contributors, partners, and supporters on GitHub, Twitter, #slack or our mailing list.')

block content

  .container.container--dark-background.pb5.px2.sm-pb0(style='display: block;')
    .mx-auto.max-width-4
      +header(style='padding: 0;')

    .mx-auto.max-width-4
      .container__content.community-hero
        h1.mb0 Join the Community
        p.subtitle.mb0 DC/OS is 100% open source, and based on Apache Mesos and Marathon. Whether you need help, want to contribute, or are just looking for the latest news, you can find out how to connect with your fellow community members (and related communities) here.

  .outer-container.bg-gray.clearfix.py4.px2
    .row
      .max-width-4.mx-auto


        .mxn2.flex.flex-wrap.flex-auto.mxn2
          .sm-col-4.col-12.lg-mb0.flex.sm-justify-center.left-align
              div.px2.mb2
                h5.hero-list__item__copy__title.pb1 Get Help
                ul
                  li.pb2
                    a.opacity-1.text-black(href='https://groups.google.com/a/dcos.io/d/forum/users')
                      img.width-24.align-middle.inline-block.mr2(src="/assets/images/icons/community/envelope.svg")
                      | Mailing list
                  li.pb2
                    a.opacity-1.text-black(href='http://chat.dcos.io/')
                      img.width-24.align-middle.inline-block.mr2(src="/assets/images/icons/community/slack.svg")
                      | Slack invite
                  li.pb2
                    a.opacity-1.text-black(href='http://dcos-community.slack.com')
                      img.width-24.align-middle.inline-block.mr2(src="/assets/images/icons/community/slack.svg")
                      | Slack login
                  li
                    a.opacity-1.text-black(href='http://stackoverflow.com/questions/tagged/dcos')
                      img.width-24.align-middle.inline-block.mr2(src="/assets/images/icons/community/stackoverflow.svg")
                      | StackOverflow

            .sm-col-4.col-12.lg-mb0.flex.sm-justify-center.left-align
              div.px2.mb2
                h5.hero-list__item__copy__title.pb1 Contribute
                ul
                  li.pb2
                    a.opacity-1.text-black(href='https://jira.mesosphere.com/')
                      img.width-24.align-middle.inline-block.mr2(src="/assets/images/icons/community/jira.svg")
                      | Report a Bug
                  li.pb2
                    a.opacity-1.text-black(href='https://github.com/dcos')
                      img.width-24.align-middle.inline-block.mr2(src="/assets/images/icons/community/github.svg")
                      | GitHub
                  li.pb2
                    a.opacity-1.text-black(href='https://github.com/dcos/community/blob/master/README.md#dcos-community')
                      img.width-24.align-middle.inline-block.mr2(src="/assets/images/icons/community/communities.svg")
                      | Working groups
                  li
                    a.opacity-1.text-black(href='http://dcos.io/contribute')
                      img.width-24.align-middle.inline-block.mr2(src="/assets/images/icons/community/communities.svg")
                      | Project Mgmt Committee

            .sm-col-4.col-12.flex.sm-justify-center.left-align
              div.px2.mb3
                h5.hero-list__item__copy__title.pb1 Get Updates
                ul
                  li.pb2
                    a.opacity-1.text-black(href='https://twitter.com/dcos')
                      img.width-24.align-middle.inline-block.mr2(src="/assets/images/icons/community/twitter.svg")
                      | Twitter
                  li.pb2
                    a.opacity-1.text-black(href='https://www.youtube.com/channel/UChHh-HuKJdbffdXwkTAroJg')
                      img.width-24.align-middle.inline-block.mr2(src="/assets/images/icons/community/youtube.svg")
                      | YouTube
                  li.pb2
                    a.opacity-1.text-black(href='https://www.meetup.com/DC-OS-Online-Meetup/')
                      img.width-24.align-middle.inline-block.mr2(src="/assets/images/icons/community/meetup.svg")
                      | Meetup
                  li
                    a.opacity-1.text-black(href='https://calendar.google.com/calendar/embed?src=mesosphere.io_1iu6qkkrmnghb61ntfrp5fc46o%40group.calendar.google.com&ctz=America/Los_Angeles')
                      img.width-24.align-middle.inline-block.mr2(src="/assets/images/icons/community/calendar.svg")
                      | Calendar

  .container.events-container.py4.px2
    .row
      div.toggle.center.max-width-4.mx-auto.mb3
        a(href='#recent' data-events='recent' class='pr1 inline-block text-black h2') Recent Events
        a(href='#upcoming' data-events='upcoming' class='pl1 inline-block h2') Upcoming Events

      .events-carousel
        if (locals.events.length)
          .events-carousel-btn.events-carousel-btn--next
            img(src='/assets/images/icons/chevron-dark-right.svg')

          .events-carousel-btn.events-carousel-btn--prev
            img(src='/assets/images/icons/chevron-dark-left.svg')

        .card-container.px2.recent-events
          each event in locals.events
            if (new Date(event.date)).getTime() < Date.now()
              a(href!=event.url target='_blank').card
                .card-header(style='background-image: url(#{event.image})')
                  .card-content
                    .card-header__date
                      p #{event.day}
                      p #{event.month.toUpperCase()}
                .card-content.card-copy
                  h3.card-title  #{event.title}
                  .cta.cta--text More info &rarr;

        .card-container.px2.upcoming-events.hide
          each event in locals.events.reverse()
            if (new Date(event.date)).getTime() > Date.now()
              a(href!=event.url target='_blank').card
                .card-header(style='background-image: url(#{event.image})')
                  .card-content
                    .card-header__date
                      p #{event.day}
                      p #{event.month.toUpperCase()}
                .card-content.card-copy
                  h3.card-title  #{event.title}
                  .cta.cta--text More info &rarr;

  //- Featured communities
  .outer-container.bg-gray.clearfix.py4.px2#featured-communities
    .row
      .max-width-4.mx-auto
        h2.center.max-width-4.pb2.mx-auto Related Communities

        .mxn2.flex.flex-auto.flex-wrap
          .md-col-6.col-12.px2
            h4.pb2.mb0
              img.width-24.align-middle.mr2(src='/assets/images/logos/mesos.svg')
              | Apache Mesos
            p.m0 Apache Mesos acts as the kernel for the datacenter operating system, abstracting machine resources (CPU, GPU, memory, storage, etc.), and offering them to the services that run on DC/OS.
            p #[a(href='http://mesos.apache.org/') Learn about Mesos]
          .md-col-6.col-12.px2
            h4.pb2.mb0
              img.width-24.align-middle.mr2(src='/assets/images/logos/marathon.svg')
              | Marathon
            p.m0 Marathon is the Mesos framework that orchestrates containers in DC/OS. It matches resource offers with container requirements, and schedules containers on Mesos nodes.
            p #[a(href='https://mesosphere.github.io/marathon/') Learn about Marathon]


  //- Contribute to DC/OS
  .outer-container.bg-white.clearfix.py4.px2
    .row
      .max-width-4.mx-auto
        .mxn2.flex.flex-auto.flex-wrap
          .lg-col-8.col-12.xs-col-12.px2.mx-auto.pb2.center
            h2 Contribute to DC/OS
            p DC/OS is fully open source, and we appreciate contributions! Proposing documentation changes, supporting fellow users, participating in working groups, running local meetups, improving our examples and demos, adding packages to the universe, and of course coding are all ways to contribute.

            p #[a(href='https://dcos.io/contribute/') Learn how to contribute to DC/OS]


  .container
      +footer
